* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #f6f8fc;
}

.content {
  /* width: 100vw; */
  /* height: 100vh; */
  /* max-width: 320px;
  min-width: 240px; */
  padding: 1rem;
  background-color: #fff;
  margin: 1rem auto;
  /* max-width: 1000px; */
}
