* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to bottom, #99ccff 0%, #cc99ff 100%);
  padding: 2rem;
}

.content {
  /* width: 100vw; */
  /* height: 100vh; */
  padding: 1rem;
  background-color: #f6e7e7;
  margin: 1rem auto;
  /* max-width: 1000px; */
  border-radius: 1rem;
  border: 1px solid #3b5b9b;
}
