.content > h1 {
  margin-left: 0.5rem;
  color: brown;
  font-family: "Times New Roman", Times, serif;
}

.pokemons {
  display: grid;
  /* grid-template-columns: 1fr; */
  margin: 0;
  padding: 0;
  list-style: none;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
}

.pagination button {
  padding: 0.5rem 1rem;
  /* margin: 0.25rem 0; */
  font-size: 1rem;
  color: #fff;
  background-color: #6c79db;
  border: none;
  border-radius: 1rem;
  transition: 0.5s opacity;
  box-shadow: 4px 6px 6px #92846b;
}
.pagination button:hover {
  opacity: 0.7;
  cursor: pointer;
}

@media screen and (max-width: 499px) {
  .content {
    min-width: 240px;
    max-width: 280px;
  }
}

@media screen and (min-width: 500px) and (max-width: 749px) {
  .content {
    max-width: 560px;
  }
  .pokemons {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 750px) and (max-width: 999px) {
  .content {
    max-width: 800px;
  }
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media screen and (min-width: 1000px) {
  .pokemons {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .content {
    max-width: 800px;
  }
}
